.card {
    margin-top: 20px;
    border: none;
    border-radius: 8px;
}
.fitness-card {
    max-height: 140px;
    max-width: 520px;
}
.fitness-card-info {
    padding-left: 0px;
    padding-right: 75px;
}
.fitness-card-info h1 {
    font-size: 23px;
    color: #ffffff;
}
.fitness-card-info p {
    font-size: 11px;
    color: #ffffff;
}